.active { 
    color: white;
}

.disabled { 
    color: rgb(124, 124, 124);
}

.not-stonks {
    color: red;
}

.stonks { 
    color:green;
}
.bottom  {
    border-bottom: 1px solid rgb(77, 77, 77);
    font-size: 0.7rem;
}
tr  {
    border-bottom: 1px solid gray;
}

td:nth-child(odd) {
    color: #fff;
}
td:nth-child(even) {
    color: red;
}

td:last-child{
    color : green;
}

.order-book {
    padding: 1rem;
    line-height: 3.5rem;
}
.piyasaIslemleri td:nth-child(even) {
    color: #fff;
}
.piyasaIslemleri td:last-child {
    color: #fff;
}
.piyasaIslemleri td li:nth-child(even){
    color: green;
}

.fas {
    font-size: 2rem;
    color: gray;
}

/* for the small devices (landscape phones)*/
@media screen and (min-width: 576px) {
     
}

/* for the medium devices (tablets)*/
@media screen and (min-width: 768px) {
     
}

/* for the large devices (desktops)*/
@media screen and (min-width: 992px) {
     
}

/* for the extra large devices (large desktops)*/
@media screen and (min-width: 1200px) {
     
}

